@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
  }
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
}
